<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">Receipts</a>
                        </li>
                        <li>
                            <a href="{% url 'create_receipt' %}">Create new receipt</a>
                        </li>
                        <li>
                            <a href="{% url 'categories_list' %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'create_category' %}">Create new category</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts_list' %}">Accounts</a>
                        </li>
                        <li>
                            <a href="{% url 'create_account' %}">Create new account</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
